.m-header-wrapper{
    margin: 0px auto;
}
.toolbar {
  backdrop-filter: blur(1px) brightness(70%);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-slider{
  padding-top: 0px;
  text-align: justify;
}
.drawer-sign{
  width: 80%;
}
.sign_up{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.sign_switch{
  display: flex;
  flex-direction: column;
  width: max-content;
}
.sign_switch{
  margin: auto;
}
.drawer-sign-wrapper{
  display: flex;
  position: relative;
  height: 490px;
  margin: 0px auto;
  justify-content: center;
  align-items: flex-end;
}
.bar-drag-header{
  height: 8px;
  background-color: rgba(204, 204, 204, 0.521);
  width: 150px;
  border-radius: 20px;
  position: relative;
  bottom: 3px;
  backdrop-filter: blur(1px) brightness(70%);
  margin: 0px auto;
  box-shadow: inset 0px 1px 1px rgba(68, 68, 68, 0.623);
}
.header-wall{
  clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
}
.header-drawer .q-drawer{
  border-radius: 0px 120px 20px 120px;
    position: absolute;
    /* overflow: hidden; */
    width: 90% !important;
    height: 500px;
    
}
.header-avatar{
  position: absolute;
  top: 62px;
  left: 105px;
}
.header-avatar .q-avatar__content{
width: 70px;
height: 70px;
border: 3px solid #17749082;
border-spacing: 1px;
}
.header-drawer-content{
  border-radius: 0px 120px 0px 0px;
    position: absolute;
    /* overflow: hidden; */
    height: 490px !important;
}
.blured{
  backdrop-filter: blur(1px) brightness(70%);
  border-radius: 0px 0px 35px 35px;
}
.blured .q-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.blured .q-item__section--side{
  padding: unset;
  color: beige;
}
.blured .q-item__section--main{
  display: none;
}
.bar-drag-header:hover{
  background-color: rgba(204, 204, 204, 0.521);
  box-shadow: inset 0px 0px 0px rgba(68, 68, 68, 0.623);
}
.app-header{

  background-size: cover;
  background-position: center;
  border-radius: 0px 0px 35px 35px;
}
.header-card{
  
  background: unset !important;
  box-shadow:unset !important;
  border: unset;
  font-family: 'Jura-bold';
}
.header-carousel{
  backdrop-filter: blur(1px) brightness(70%);
  background: unset !important;
  max-height: 300px;
}
@font-face {
    font-family: Poiret_One;
    src: url(./fonts/Poiret_One/PoiretOne-Regular.ttf);
  }
  @font-face {
    font-family: Jura-bold;
    src: url(./fonts/Jura/static/Jura-Bold.ttf);
  }
  @font-face {
    font-family: Jura-regular;
    src: url(./fonts/Jura/static/Jura-Regular.ttf);
  }
  @font-face {
    font-family: Jura-light;
    src: url(./fonts/Jura/static/Jura-Light.ttf);
  }
  @font-face {
    font-family: Jura-medium;
    src: url(./fonts/Jura/static/Jura-Medium.ttf);
  }
  @font-face {
    font-family: Jura-semibold;
    src: url(./fonts/Jura/static/Jura-SemiBold.ttf);
  }
  .Jura-bold {
    font-family: 'Jura-bold';
  }
  .Jura-regular {
    font-family: 'Jura-regular';
  }
  .Jura-light {
    font-family: 'Jura-light';
  }
  .Jura-medium {
    font-family: 'Jura-medium';
  }
  .Jura-semibold {
    font-family: 'Jura-semibold';
  }
  .Poiret_One {
    font-family: 'Poiret_One';
    font-size: larger;
  }

  .Poiret_One1 {
    font-family: 'Poiret_One';
    font-size: large;
  }
  .Poiret_One2 {
    font-family: 'Poiret_One';
    font-size: medium;
  }
  .Poiret_One3 {
    font-family: 'Poiret_One';
    font-size: small;
  }
  .Poiret_One4 {
    font-family: 'Poiret_One';
    font-size: smaller;
  }
  .Poiret_One5 {
    font-family: 'Poiret_One';
    font-size: xx-small;
  }
.q-page-container{
  display:flex;
  justify-content:center;
  
}
@media only screen and (max-width: 400px) {
  .q-layout {
    background-image: url(../assets/polygon-scatter-haikei\ \(1\).svg);
  }
}